<ng-template #reviewFormModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <h2 *ngIf="review.id">Edit Review</h2>
      <h2 *ngIf="!review.id">Write Review</h2>
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-album-search
      [searchTerm$]="searchTerm$"
      [searchResults]="searchResults"
      (handleReviewButton)="handleReviewButton.emit($event)">
    </app-album-search>
    <app-review-form
      [review]="review"
      (handleSubmit)="closeSavingModal($event, modal)"
    >
    </app-review-form>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="openReviewModal(reviewFormModal)">
  <span *ngIf="review.id">Edit Selected Review</span>
  <span *ngIf="!review.id">Write New Review</span>
</button>