<h2 *ngIf="review.id">Edit Review</h2>
<h2 *ngIf="!review.id">Write Review</h2>

<form
  [formGroup]="form"
  (submit)="submit()"
>
  <div class="form-group">
    <label for="artist">Artist</label>
    <input
      type="text"
      class="form-control"
      id="artist"
      name="artist"
      placeholder="Artist Name"
      formControlName="artist"
      required
      [class.is-invalid]="form.get('artist').invalid"
      [class.is-valid]="!form.get('artist').invalid"
    />
  </div>
  <div class="form-group">
    <label for="album">Album</label>
    <input
      type="text"
      class="form-control"
      id="album"
      name="album"
      placeholder="Album Name"
      formControlName="album"
      required
      [class.is-invalid]="form.get('album').invalid"
      [class.is-valid]="!form.get('album').invalid"
    />
  </div>
  <div class="form-group">
    <label for="spotifyId">Spotify ID</label>
    <input
      type="text"
      class="form-control"
      id="spotifyId"
      name="spotifyId"
      placeholder="Spotify ID"
      formControlName="spotifyId"
      required
      [class.is-invalid]="form.get('spotifyId').invalid"
      [class.is-valid]="!form.get('spotifyId').invalid"
    />
  </div>
  <div class="form-group">
    <label for="spotifyId">Artwork URL</label>
    <input
      type="url"
      class="form-control"
      id="artwork"
      name="artwork"
      placeholder="Artwork URL"
      formControlName="artwork"
    />
  </div>
  <div class="form-group">
    <label for="href">Streaming URL</label>
    <input
      type="url"
      class="form-control"
      id="href"
      name="href"
      placeholder="Where to stream album"
      formControlName="href"
    />
  </div>
  <div class="form-group">
    <label for="yearReleased">Year Released</label>
    <input
      type="text"
      class="form-control"
      id="yearReleased"
      name="yearReleased"
      placeholder="Year Released"
      formControlName="yearReleased"
    />
  </div>
  <div class="form-group">
    <label for="dateListened">Date Listened</label>
    <div class="input-group">
      <input
        type="date"
        class="form-control"
        id="dateListened"
        name="dateListened"
        placeholder="yyyy-mm-dd"
        formControlName="dateListened"
        required
        [class.is-invalid]="form.get('dateListened').invalid"
        [class.is-valid]="!form.get('dateListened').invalid"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    &nbsp;
    <ngb-rating formControlName="rating">
    </ngb-rating>
    <span *ngIf="form.value.rating"> | {{ form.value.rating }}</span>
  </div>

  <div class="form-group">
    <label for="description">Review Details</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      formControlName="description"
      rows="3">
    </textarea>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!form.valid"
  >Submit</button>
</form>