<form>
  <div class="form-group form-inline">
    Search:
    &nbsp;
    <input
      type="text"
      class="form-control ml-2"
      name="searchTerm"
      (input)="handleSearch.emit($event)">
    <span class="ml-3" *ngIf="loading">Loading &hellip;</span>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Artwork</th>
        <th scope="col" appSortable="rating" (sort)="onSort($event)">Rating</th>
        <th scope="col" appSortable="artist" (sort)="onSort($event)">Artist</th>
        <th scope="col" appSortable="album" (sort)="onSort($event)">Album</th>
        <th scope="col" appSortable="dateListened" (sort)="onSort($event)">Date Listened</th>
        <th scope="col" appSortable="yearReleased" (sort)="onSort($event)">Year Released</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td>
          <input
            type="checkbox"
            [checked]="selectedReview._id === review._id"
            (change)="handleSelect.emit(review)">
        </td>
        <td>
          <img
            *ngIf="review.artwork"
            src="{{ review.artwork }}"
            alt="{{ review.artist }}: {{ review.album }}" />
        </td>
        <td>{{ review.rating | starReview }}</td>
        <td>
          <ngb-highlight
            [result]="review.artist"
            [term]="searchTerm">
          </ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="review.album"
            [term]="searchTerm">
          </ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="review.dateListened | date:'yyyy/MM/dd'"
            [term]="searchTerm">
          </ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="review.yearReleased"
            [term]="searchTerm">
          </ngb-highlight>
        </td>
        <td>
            <button
              class="btn btn-danger"
              ngbButton
              (click)="handleDelete.emit(review)"
              aria-label="Delete Review">
              &times;
            </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="total"
      [(page)]="page"
      [pageSize]="pageSize">
    </ngb-pagination>

    <select
      name="pageSize"
      id="pageSize"
      [(ngModel)]="pageSize"
      class="custom-select"
      style="width: auto">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
    </select>
  </div>
</form>