<div class="row">
  <div class="col">
    <div class="float-right">
      <ng-template #reviewFormModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
            <h2 *ngIf="selectedReview.id">Edit Review</h2>
            <h2 *ngIf="!selectedReview.id">Write Review</h2>
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form form-inline" (submit)="searchTerm$.next($event.target.q.value)">
            <div class="form-group">
              <label for="q">Search for Album</label>
              <input type="text" name="q" id="q" class="form-control">
            </div>
            <button class="btn btn-primary">Search</button>
          </form>
          <hr>
          <div *ngIf="searchResults">
            <div class="row">
              <div *ngFor="let result of searchResults" class="col">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="{{ result.artwork }}"
                    alt="{{ result.artist }} - {{ result.album}} album cover" />
                  <div class="card-body">
                    <h5 class="card-title">{{ result.album }}</h5>
                    <p class="card-text">
                      by {{ result.artist }}
                    </p>
                    <div class="btn-group">
                      <a class="btn btn-success" target="_blank" href="{{ result.href }}">Listen</a>
                      <button class="btn btn-primary" (click)="populateReviewForm(result)">Review</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <app-review-form [review]="selectedReview" (handleSubmit)="saveReview($event, modal)"></app-review-form>
        </div>
      </ng-template>

      <button class="btn btn-primary" (click)="openReviewModal(reviewFormModal)">
        <span *ngIf="selectedReview.id">Edit Selected Review</span>
        <span *ngIf="!selectedReview.id">Write New Review</span>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-reviews-table
      [reviews]="reviews$ | async"
      [total]="total$ | async"
      [loading]="reviewService.loading$ | async"
      [searchTerm]="reviewService.searchTerm"
      [pageSize]="reviewService.pageSize"
      [page]="reviewService.page"
      [selectedReview]="selectedReview"
      (handleSearch)="searchReviews($event.target.value)"
      (handleSelect)="selectReview($event)"
      (handleDelete)="deleteReview($event)"
      (handleSort)="sortReviews($event)"
    ></app-reviews-table>
  </div>
</div>
