<div class="row">
  <div class="col">
    <div class="float-right">
      <ng-template #reviewFormModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
            <h2 *ngIf="selectedReview.id">Edit Review</h2>
            <h2 *ngIf="!selectedReview.id">Write Review</h2>
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-album-search
            [searchTerm$]="searchTerm$"
            [searchResults]="searchResults"
            (handleReviewButton)="populateReviewForm($event)"
          ></app-album-search>
          <app-review-form
            [review]="selectedReview"
            (handleSubmit)="saveReview($event, modal)">
          </app-review-form>
        </div>
      </ng-template>

      <button class="btn btn-primary" (click)="openReviewModal(reviewFormModal)">
        <span *ngIf="selectedReview.id">Edit Selected Review</span>
        <span *ngIf="!selectedReview.id">Write New Review</span>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-reviews-table
      [reviews]="reviews$ | async"
      [total]="total$ | async"
      [loading]="reviewService.loading$ | async"
      [searchTerm]="reviewService.searchTerm"
      [pageSize]="reviewService.pageSize"
      [page]="reviewService.page"
      [selectedReview]="selectedReview"
      (handleSearch)="searchReviews($event.target.value)"
      (handleSelect)="selectReview($event)"
      (handleDelete)="deleteReview($event)"
      (handleSort)="sortReviews($event)"
    ></app-reviews-table>
  </div>
</div>
