<h3>Your Reviews</h3>
<div class="row">
  <div class="col">
    <div class="float-right">
      <app-review-form-modal
        [searchTerm$]="searchTerm$"
        [searchResults]="searchResults"
        [review]="selectedReview"
        (handleReviewButton)="populateReviewForm($event)"
        (handleFormSave)="saveReview($event)">
      </app-review-form-modal>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-reviews-table
      [reviews]="reviews$ | async"
      [total]="total$ | async"
      [loading]="reviewService.loading$ | async"
      [searchTerm]="reviewService.searchTerm"
      [pageSize]="reviewService.pageSize"
      [page]="reviewService.page"
      [selectedReview]="selectedReview"
      (handleSearch)="searchReviews($event.target.value)"
      (handleSelect)="selectReview($event)"
      (handleDelete)="deleteReview($event)"
      (handleSort)="sortReviews($event)"
      (handlePageSize)="changePageSize($event)"
      (handlePage)="changePage($event)"
    ></app-reviews-table>
  </div>
</div>
